.rs-picker-toggle-wrapper {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}
.rs-picker-has-value.rs-picker-cleanable .rs-picker-toggle.rs-btn {
    padding-right: 32px;
}
.rs-picker-default .rs-picker-toggle.rs-btn {
    padding-top: 7px;
    padding-bottom: 7px;
}.rs-picker-default .rs-picker-toggle {
    position: relative;
    z-index: 5;
    padding-right: 32px;
    display: inline-block;
    cursor: pointer;
    color: #575757;
    color: var(--rs-text-primary);
    border: 1px solid #e5e5ea;
    border: 1px solid var(--rs-border-primary);
}.rs-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -webkit-transition: color 0.15s ease-out, background-color 0.15s ease-out;
    transition: color 0.15s ease-out, background-color 0.15s ease-out;
    border: none;
    border: var(--rs-btn-default-border, none);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #575757;
    color: var(--rs-btn-default-text);
    background-color: #f7f7fa;
    background-color: var(--rs-btn-default-bg);
    border-radius: 6px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 12px;
    overflow: hidden;
    position: relative;
}.rs-picker-toggle-read-only {
    opacity: 0;
}.rs-picker-toggle-textbox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #0000;
    padding-left: 10px;
    padding-right: 32px;
    color: #575757;
    color: var(--rs-text-primary);
    background-color: #fff;
    background-color: var(--rs-input-bg);
    outline: none;
}.rs-picker-toggle-value {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}.rs-picker-has-value .rs-btn .rs-picker-toggle-value, .rs-picker-has-value .rs-picker-toggle .rs-picker-toggle-value {
    color: #1675e0;
    color: var(--rs-picker-value);
}.rs-picker-toggle.rs-btn .rs-picker-toggle-caret, .rs-picker-toggle.rs-btn .rs-picker-toggle-clean {
    top: 8px;
    right: 12px;
}.rs-picker-toggle-clean.rs-btn-close {
    padding: 4px 0;
}.rs-btn-close {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 8px 0;
    font-size: 12px;
    line-height: 1;
    border: none;
    outline: none !important;
    cursor: pointer;
}.rs-picker-toggle-clean {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2px;
    position: absolute;
    top: 8px;
    right: 30px;
    height: 20px;
    font-size: 12px;
    background: inherit;
    color: #8e8e93;
    color: var(--rs-text-secondary);
    -webkit-transition: 0.2s color linear;
    transition: 0.2s color linear;
    cursor: pointer;
}